<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="textData" value="./TextData"/>
    <add key="sqlQueries" value="./SqlQueries"/>
  </appSettings>

  <connectionStrings>
    <add name="Employees" connectionString="Server=localhost\SqlExpress;Database=master;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>